@import 'ui-grid';
@import 'ui-tag';
@import 'ui-navigation';
@import 'ui-button';
@import 'ui-input';

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.flash-messages {
  padding: 5rem;
  position: absolute;
  top: 20;
  left: 0;
  width: 60%;
  z-index: 100;
}
.row {
  margin-top: 20px;
  & > div {
    margin: 0.5rem;
  }
}
