<div class="container">
    <h1 id="title">ui-input</h1>
    <h2>Input controls for ambitious Ember applications</h2>
        
    {{outlet}}
</div>

{{#if notIndexPage}}
    {{#link-to 'index'}}
    <div class="back-navigation">
        {{ui-icon icon='arrow-circle-left' size='5x' class='animated fadeIn'}}
    </div>
    {{/link-to}}
{{/if}}