<h3>Introduction</h3>
<desc>
    The <strong>ui-input</strong> Ember-CLI addon is a set components meant to help you build forms and input controls for your ambitious applications. While
    there appears to be a lot here the goal is <em>not</em> to create bloat. The abundance of "things" is hopefully a result of careful consideration into how
    to structure things into bite-size chunks so you you can use what you want and disregard the rest.
</desc>
<desc>
    This library of components is free to use under the MIT license. We have built it with the goal of using it so that will be our priority but we are more
    than open to developers who want to submit PR's to do so. Together we can make something far more awesome than anyone can do in isolation.
</desc>

<h3>Components</h3>
<desc>
    By clicking on any of the components below you will get design details and interactive examples. Interactive examples?
    How lucky are you? Yes the world is finally giving back. You're a consumer. Your job is now clear ...
    start clicking on components.
</desc>
<desc>
    <div class="row">
        <div class="">
            <div class="col-xs-6 col-sm-3">
                <heading>FORM</heading>
                <ul class="components">
                   <li>{{#link-to 'form-wrapper'}}<code>form-wrapper</code>{{/link-to}}
                   </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <heading>GROUP</heading>
                <ul class="components">
                   <li>{{#link-to 'input-wrapper'}}<code>input-wrapper</code>{{/link-to}}</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <heading>INPUT</heading>
                <ul class="components">
                    <li>{{#link-to 'demo-text-input'}}<code>text-input</code>{{/link-to}}</li>
                    <li>{{#link-to 'demo-number-input'}}<code>number-input</code>{{/link-to}}</li>
                    <li>{{#link-to 'demo-password-input'}}<code>password-input</code>{{/link-to}}</li>
                    <br/>
                    <li>{{#link-to 'phone-input'}}<code>phone-input</code>{{/link-to}}</li>
                    <li>{{#link-to 'email-input'}}<code>email-input</code>{{/link-to}}</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3">
                <heading>HELPER</heading>
                <ul class="components">
                    <li>{{#link-to 'demo-input-addon'}}<code>input-addon</code>{{/link-to}}</li>
                    <li>{{#link-to 'demo-button-addon'}}<code>button-addon</code>{{/link-to}}</li>
                   <li>{{#link-to 'input-feedback'}}<code>input-feedback</code>{{/link-to}}</li>
                   <li>{{#link-to 'input-screen-reader'}}<code>input-screen-reader</code>{{/link-to}}</li>
                </ul>
            </div>
        </div>
    </div>
</desc>

<h3>Principles and Shared Properties</h3>
<desc>
    In addition to the components above, there is every attempt to share functionality and principles across
    components. Here then are the main areas of reuse/shared principles:
    <div class="row">
        <div class="">
            <div class="col-xs-6 col-sm-4">
                <heading>STYLE</heading>
                <ul class="components">
                    <li>{{#link-to 'shared-style'}}<code>style families</code>{{/link-to}}</li>
                    <li>{{#link-to 'shared-color'}}<code>color</code>{{/link-to}}</li>
                    <li>{{#link-to 'shared-textAlign'}}<code>textAlign</code>{{/link-to}}</li>
                    <li>
                        {{#link-to 'shared-size'}}<code>size</code>{{/link-to}}
                        {{#link-to 'shared-width-height'}}<code>width/height</code>{{/link-to}}
                     </li>
                    <li>{{#link-to 'shared-status'}}<code>status</code>{{/link-to}}</li>
                    <li>{{#link-to 'shared-masks'}}<code>masks</code>{{/link-to}}</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
                <heading>INTERACTION</heading>
                <ul class="components">
                    <li>{{#link-to 'shared-events'}}<code>base events</code>{{/link-to}}</li>
                    <li>{{#link-to 'shared-rules'}}<code>rules</code>{{/link-to}}</li>
                    <br/>
                    <li>{{#link-to 'shared-animation'}}<code>animation</code>{{/link-to}}</li>
                    <li>{{#link-to 'shared-sound'}}<code>sound</code>{{/link-to}}</li>
                    <li>{{#link-to 'shared-vibration'}}<code>vibrations</code>{{/link-to}}</li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-4">
                <heading>OTHER</heading>
                <ul class="components">
                    <li>{{#link-to 'configuration'}}<code>configuration</code>{{/link-to}}</li>
                    <li>{{#link-to 'dependencies'}}<code>dependencies</code>{{/link-to}}</li>
                </ul>
            </div>
        </div>
    </div>
</desc>

<h3>Design Diagrams</h3>
<desc>
    Here are some high level design diagrams which illustrate the thinking involved in these components:<br/>
    <centered>
        {{ui-button-radio choices=designImages selected=designImage}}
    </centered>
    <indent>
        <img src="images/{{designImage}}.png">
    </indent>
</desc>

