
<h3>Components</h3>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-10 col-lg-8">
        There are several components which come with this plugin. They share common characteristics and code but 
        will be covered separately. They are listed here, click on the one you're interested in for more details.
    </p>        
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <ul>
           <li>{{#link-to 'text-input'}}<code>text-input</code>{{/link-to}} - text input control</li>
           <li>{{#link-to 'number-input'}}<code>number-input</code>{{/link-to}} - numeric input control</li>
        <li>{{#link-to 'password-input'}}<code>password-input</code>{{/link-to}} - text input control for passwords</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-6">
        <ul>
            <li>{{#link-to 'phone-input'}}<code>phone-input</code>{{/link-to}} - text input specifically for phone numbers</li>
            <li>{{#link-to 'email-input'}}<code>email-input</code>{{/link-to}} - standard numeric input control</li>
            <li>{{#link-to 'number-array-input'}}<code>number-array-input</code>{{/link-to}} - control for an <em>array</em> of numeric values</li>
        </ul>
    </div>
    <div class="col-xs-12 descriptive">
        All of these components can be contained by:
    </div>
    &nbsp;<br/>
    <p class="col-xs-12 ">
        <ul>
           <li>{{#link-to 'input-wrapper'}}<code>input-wrapper</code>{{/link-to}} 
               - provides useful visual feedback beyond the control itself ... prefix/postfix icons, etc.
           </li>
           <li>{{#link-to 'form-wrapper'}}<code>form-wrapper</code>{{/link-to}} 
               - provides cross-form functions like validation
           </li>
        </ul>
    </p>
</div>

<h3>Shared Principles and Properties</h3>
<div class="row">
    <div class="descriptive col-xs-12">
        <p>
            In addition the components above, there is every attempt to share functionality and principles across
            components. Here then are the main areas of reuse/shared principles:
        </p>
    <div class="col-xs-12 col-md-6">
        <ul>
            <li>{{#link-to 'shared-style'}}<code>style</code>{{/link-to}} - style consistency through style families</li>
            <li>{{#link-to 'shared-color'}}<code>color</code>{{/link-to}} - classy and specific colors</li>
            <li>
                {{#link-to 'shared-size'}}<code>size</code>{{/link-to}}
                {{#link-to 'shared-width-height'}}<code>width/height</code>{{/link-to}}
                 - standardized not <em>uniform</em> sizes</li>
            <li>{{#link-to 'shared-rules'}}<code>rules</code>{{/link-to}} - fire business logic; both built in rules and user defined</li>
        </ul>
    </div>
    <div class="col-xs-12 col-md-6">
        <ul>
            <li>{{#link-to 'shared-textAlign'}}<code>textAlign</code>{{/link-to}} - text alignment w/in the control</li>
            <li>{{#link-to 'shared-status'}}<code>status</code>{{/link-to}} - visual indication of state</li>
            <li>{{#link-to 'shared-animation'}}<code>animation</code>{{/link-to}} - bring attention w/ animation</li>
            <li>{{#link-to 'shared-sound'}}<code>sound</code>{{/link-to}} - bring attention w/ sound effects</li>
            <li>{{#link-to 'shared-events'}}<code>events</code>{{/link-to}} - tbd</li>
        </ul>
    </div>

    </div>
</div>
