<h3>Component::<code>number-input</code></h3>
<div class="row">
    <p class="descriptive col-xs-12">
        A component for getting user input on numeric values.
    </p>        
</div>

<h4>Overview</h4>
<div class="row">
    <p class="descriptive col-xs-12">
        A scratch pad of options and their corresponding .
    </p>        
</div>


<h4>Examples</h4>
<div class="row">
    <p class="descriptive col-xs-12">
        A scratch pad of options and their corresponding .
    </p>        
</div>
