<h3>Principle => <code>events</code></h3>

<h4>Overview</h4>
<desc>
    Events are commonplace in frontend frameworks and the tend to have particular density when we're talking about input controls.
    So what do we want to talk about as <em>events</em> relate to the <strong>ui-input</strong> component?
</desc>