<h3>Shared Property::<code>sound</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        This functionality is not yet incorporated but will hook into the input controls in a similar fashion as animation.
    </desc>

</div>

<h4>Usage</h4>
<div class="row">
    <desc>
        TBD
    </desc>

</div>

