<h3>text-input</h3>
<div class="back-link">{{#link-to 'application'}}&lt;-- return to index{{/link-to}} </div>
<div class="row">
    <p class="descriptive col-xs-12 col-sm-8 col-lg-6">
        A quite simple component, which allows binding of text-based values to a containers property.
    </p>        
</div>
